@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  font-family: "Graduate", serif;
}

h5,
p {
  font-family: "Instrument Sans", sans-serif;
}

h4:before,
h4:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid #f1f1f1;
}

h4:after {
  margin: 0 -55% 0 0.5em;
}

.header a {
  font-family: "Graduate", serif;
}
